<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Loja Virtual com Spring MVC Spring Boot</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-inverse">
			<div>
				<div class="navbar-header">
					<div class="navbar-nav">
						<ul class="nav nav-pills">

							<li class="nav-item"><a class="nav-link" href="/home"> <img class="imagem-logo"
										th:src="@{/image/logotipo.png}" alt="Home">
								</a></li>
							<li class="nav-item"><a class="nav-link" href="#"> <img class="nome"
										th:src="@{/image/nome.svg}" alt="Nome">
								</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<nav class="navbar2" style="height: 800px ">
			<div class="menu-todos">
				<button class=" btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
					aria-controls="offcanvasExample">
					<ion-icon id="hamburguer" name="menu-outline" size="large"
						style="margin-top: 50px; color: white;"></ion-icon>
					<div class="span-menu"><span>Todos</span></div>
				</button>
			</div>

		</nav>
	</header>


	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasExampleLabel">Olá, usuário!</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div>
				<div>

					<div class="titulo-itens-menu">
						<h2>
							<div style="background-color: transparent; border: none;"><strong>Menu Adm</strong>
								<i class="glyphicon glyphicon-cog"></i>

							</div>

						</h2>
					</div>

					<div id="collapseOneAdmin" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<ul class="nav nav-pills">
								<br class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Entrada Produtos</button>
								</br>
								</h2>
							</ul>
							<div>
								<div id="collapseOne" class="accordion-collapse collapse "
									data-bs-parent="#accordionExample">
									<div class="accordion-body"><a class="nav-link"
											href="/administrativo/entrada/cadastrar"> <i class="oi oi-plus"></i>
											<span class="span-itens">Cadastrar </span>
										</a>

										<a class="nav-link" href="/administrativo/entrada/listar"> <i
												class="oi oi-spreadsheet"></i> <span class="span-itens">Listar
												</spanclass="span-itens">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div id="collapseThreeAdmin" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<ul class="nav nav-pills">
								<br class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Funcionários</button>
								</br>
								</h2>
							</ul>
							<div id="collapseOne" class="accordion-collapse collapse"
								data-bs-parent="#accordionExample">
								<div class="accordion-body"><a class="nav-link"
										href="/administrativo/funcionarios/cadastrar"> <i class="oi oi-plus"></i>
										<span class="span-itens">Cadastrar </span>
									</a>

									<a class="nav-link" href="/administrativo/funcionarios/listar"> <i
											class="oi oi-spreadsheet"></i> <span class="span-itens">Listar
											</spanclass="span-itens">
									</a>
								</div>
							</div>
						</div>
						<div id="collapseFourAdmin" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
									<div class="accordion-body">
							<ul class="nav nav-pills">
								<br class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Estados</button>
								</br>
								</h2>
							</ul>
							<div id="collapseOne" class="accordion-collapse collapse"
								data-bs-parent="#accordionExample">
								<div class="accordion-body"><a class="nav-link"
										href="/administrativo/estado/cadastrar"> <i class="oi oi-plus"></i>
										<span class="span-itens">Cadastrar </span>
									</a>

									<a class="nav-link" href="/administrativo/estado/listar"> <i
											class="oi oi-spreadsheet"></i> <span class="span-itens">Listar
											</spanclass="span-itens">
									</a>
								</div>
							</div>
						</div>
						</div>
						
							<div id="collapseFiveAdmin" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<ul class="nav nav-pills">
								<br class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Cidades</button>
								</br>
								</h2>
							</ul>
							<div id="collapseOne" class="accordion-collapse collapse"
								data-bs-parent="#accordionExample">
								<div class="accordion-body"><a class="nav-link"
										href="/administrativo/cidades/cadastrar"> <i class="oi oi-plus"></i>
										<span class="span-itens">Cadastrar </span>
									</a>

									<a class="nav-link" href="/administrativo/cidades/listar"> <i
											class="oi oi-spreadsheet"></i> <span class="span-itens">Listar
											</spanclass="span-itens">
									</a>
								</div>
							</div>
						</div>


					</div>
						<div id="collapseSixAdmin" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
									<div class="accordion-body">
							<ul class="nav nav-pills">
								<br class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Produtos</button>
								</br>
								</h2>
							</ul>
							<div id="collapseOne" class="accordion-collapse collapse"
								data-bs-parent="#accordionExample">
								<div class="accordion-body"><a class="nav-link"
										href="/administrativo/produtos/cadastrar"> <i class="oi oi-plus"></i>
										<span class="span-itens">Cadastrar </span>
									</a>

									<a class="nav-link" href="/administrativo/produtos/listar"> <i
											class="oi oi-spreadsheet"></i> <span class="span-itens">Listar
											</spanclass="span-itens">
									</a>
								</div>
							</div>
						</div>


					</div>
					</div>
		<hr>

		<div class="titulo-itens-menu">
			<h2>

				Menu Cliente
			</h2>
			<div>
				<div class="accordion-body">

					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active">Teste
								Cliente 1</span></li>
						<li class="nav-item"><a class="nav-link" href="/administrativo/entrada/cadastrar"> <i
									class="oi oi-plus"></i> <span>Cadastrar </span>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="/administrativo/entrada/listar"> <i
									class="oi oi-spreadsheet"></i> <span>Listar </span>
							</a></li>
					</ul>
					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active">Teste
								Cliente 2</span></li>
						<li class="nav-item"><a class="nav-link" href="/administrativo/funcionarios/cadastrar">
								<i class="oi oi-plus"></i> <span>Cadastrar </span>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="/administrativo/funcionarios/listar"> <i
									class="oi oi-spreadsheet"></i> <span>Listar </span>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>


	<div class="layout-main">

		<aside>

		</aside>
		<section class="layout-content" layout:fragment="corpo">
			Principal</section>

	</div>
	<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2024 EliPeixoto. Todos os
				direitos reservados.</span>
		</div>
	</footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".sidebar-toggler").click(function () {
				$(".sidebar").toggleClass("sidebar-open");
				$(".dark-overlay").toggleClass("overlay-open");
			});

			// Feche o menu se clicar na camada de fundo escuro
			$(".dark-overlay").click(function () {
				$(".sidebar").removeClass("sidebar-open");
				$(this).removeClass("overlay-open");
			});
		});

		const offcanvasElementList = document.querySelectorAll('.offcanvas')
		const offcanvasList = [...offcanvasElementList].map(offcanvasEl => new bootstrap.Offcanvas(offcanvasEl))
	</script>
</body>

</html>